/* 캘린더 컨테이너 크기 조정 */
.calendar-container {
  min-width: 40%;
  width: 780px;
}

.custom-event {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 2.5em;
  cursor: pointer;
}

.nextMonthButtonDisabled {
  opacity: 0.1 !important;
  cursor: default !important;
}

.notAvailableDate {
  background-color: #000000;
  opacity: 0.3;
}
